@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.3;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root{
    --clr-moderate-violet: hsl(263, 55%, 52%);
    --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
    --clr-white: hsl(0, 0%, 100%);

    --clr-light-gray: hsl(0, 0%, 81%);
    --clr-light-grayish-blue: hsl(210, 46%, 95%);
}

body{
  font-family: 'barlow semi condensed', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  background: var(--clr-light-gray);
  font-size: 13px;
}

.daniel, .jonathan, .patrick{
color: var(--clr-light-grayish-blue);
}
.kira, .jeanette{
color: var(--clr-very-dark-blackish-blue);
}
.graduation{
opacity: 0.5;
}
p{
opacity: 0.7;
}

.card-container{
  display: grid;
  grid-template-areas: 
  "daniel daniel jonathan kira"
  "jeanette patrick patrick kira";
  gap: 20px;
  width: 1100px;
  max-width: 85vw;
  margin: 40px auto;

}


.daniel{
  grid-area: daniel;
  background: var(--clr-moderate-violet) url(./images/bg-pattern-quotation.svg) no-repeat top right 14%;
}
.daniel img{
  border: 2px solid hsl(263deg 71% 70%);
}

.jonathan{
  grid-area: jonathan;
  background: var(--clr-very-dark-grayish-blue);
}

.kira{
  grid-area: kira;
  background: var(--clr-white);
}

.jeanette{
  grid-area: jeanette;
  background: var(--clr-white);
}
.jeanette h1{
  font-size: 1.8em;
}

.patrick{
  grid-area: patrick;
  background: var(--clr-very-dark-blackish-blue);
}
.patrick img{
  border: 2px solid var(--clr-moderate-violet);
}

.card{
  border-radius: 10px;
  overflow: hidden;
  padding: 25px;
  box-shadow: 10px 10px 10px 0px #5656562e;
	transition: translate 1s ease, box-shadow 0.5s ease;
}
section:hover {
	box-shadow: 10px 10px 5px 3px #00000077;
	translate: -5px;
  border: 1px solid #00000066;
}

.card-header{
  display: flex;
  align-items: center;
  margin-inline: 10px;
}
.card-header img{
  border-radius: 50%;
  object-fit: contain;
}
.profil{
  margin: 0 20px;
}
h1{
  margin: 15px 0;
  font-size: 19px;
}
@media (max-width: 940px){
  .card-container{
    grid-template-areas: 
    "daniel jonathan"
    "jeanette patrick"
    "kira kira";
  }
}
@media (max-width: 600px){
  .card-container{
    grid-template-areas: 
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "kira";
  }
}
